<?xml version="1.0"?>
<configuration>
	<system.diagnostics>
	<sources>
	 <source propagateActivity="true" name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
		<listeners>
		 <add type="System.Diagnostics.DefaultTraceListener" name="Default">
			<filter type="" />
		 </add>
		 <add name="xml">
			<filter type="" />
		 </add>
		</listeners>
	 </source>
	 <source name="System.ServiceModel.MessageLogging">
		<listeners>
		 <add type="System.Diagnostics.DefaultTraceListener" name="Default">
			<filter type="" />
		 </add>
		 <add name="xml">
			<filter type="" />
		 </add>
		</listeners>
	 </source>
	 <source name="myUserTraceSource" switchValue="Verbose,ActivityTracing">
		<listeners>
		 <add type="System.Diagnostics.DefaultTraceListener" name="Default">
			<filter type="" />
		 </add>
		 <add name="xml">
			<filter type="" />
		 </add>
		</listeners>
	 </source>
	</sources>
	<sharedListeners>
	 <add initializeData="C:\logs\Traces.svclog" type="System.Diagnostics.XmlWriterTraceListener"
		name="xml">
		<filter type="" />
	 </add>
	</sharedListeners>
 </system.diagnostics>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.serviceModel>
		<diagnostics wmiProviderEnabled="true">
	 <messageLogging logEntireMessage="true" logMalformedMessages="true"
		logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
		maxMessagesToLog="3000" />
	 <endToEndTracing activityTracing="true" messageFlowTracing="true" />
	</diagnostics>
		<services>
	 <service name="SuperAwesomeRollDiceService.SuperAwesomeRollDiceService">
		<endpoint address="SuperAwesomeRollDiceService/SuperAwesomeRollDiceService.svc"
		 binding="basicHttpBinding" bindingConfiguration="" contract="SuperAwesomeRollDiceService.ISuperAwesomeRollDiceService" />
	 </service>
	</services>
		<bindings>
			<webHttpBinding>
				<binding name="AjaxBinding" />
			</webHttpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="AjaxBehavior">
					<enableWebScript />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
 <system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	
</configuration>
